body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(
    to bottom,
    rgb(194, 194, 194) 20%,
    rgb(222, 222, 222) 20%
  );
  height: 100vh;
}

.small-text {
  font-size: 12px;
}

#form-input:focus {
  box-shadow: none;
}

#card-items {
  margin-bottom: 2px;
}


.f-btn {
  font-size: 12px;
  color: lightslategray
}


